.sec_sp {
    margin-bottom: calc(3rem + 5.128vw)
}

.mon_image {
    width: 200px; 
    border-radius: 50%;
    /*border-radius: 70% 30% 70% 30%/20% 80% 30% 70%; */
    border: solid 0.5px #FFFFFF;
    position: relative;
    left: 15%;
    top: 30px;
}

.box_image{
    display: flex;
    flex: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
}

.box_image_taille {
    width: 25%;
    text-align: center;
    padding: 5px;
}

@media (max-width:991px){
  .mon_image {
      width: 250px; 
      margin-bottom: 120px;
      left: 30%;
  }
}

@media (max-width:768px){
    .mon_image {
        margin-bottom: 120px;
        left: 25%;
    }
}

@media (max-width:576px){
    .mon_image {
        margin-bottom: 120px;
        left: 20%;
    }
}

@media (max-width:425px){
    .mon_image {
        margin-bottom: 120px;
        left: 15%;
    }
}

.table td,
.table th {
    color: var(--text-color);
}

.t_border {
    border-color: var(--text-color) !important;
}

.progress-title {
    font-size: 14px;
    /* font-weight: 700; */
    margin: 15px 0 10px;
    font-family: 'Raleway';
}

.progress {
    height: 3px;
    background: var(--secondary);
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 30px;
    overflow: visible;
}

.section-title {
    font-size: 45px;
}

.service__title {
    padding: 8px 0;
    border-bottom: solid 2px var(--secondary-color);
}

.service-section .service-category-title {
    padding-bottom: 4px;
}

.avis__title {
    padding: 8px 0;
}

/*Animation on H3  */
.fade-in-left {
	-webkit-animation: fade-in-left 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.3s both;
	        animation: fade-in-left 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.3s both;
}

 @-webkit-keyframes fade-in-left {
    0% {
      transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-left {
    0% {
      transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
.fade-in-right {
-webkit-animation: fade-in-right 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.3s both;
	      animation: fade-in-right 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.3s both;
}

 @-webkit-keyframes fade-in-right {
    0% {
      transform: translateX(50px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-right {
    0% {
      transform: translateX(50px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}
  
/*Animationn on MonImage */

  .scale-up-center {
    -webkit-animation: scale-up-center 3s linear 1.5s both;
            animation: scale-up-center 3s linear 1.5s both;
  }

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
